@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
        margin: 0;
        padding: 0;
        width: 100%;
}

:root {
        --dark-yellow: rgba(253, 175, 26, 0.81);
        --light-yellow: rgba(253, 175, 26, 0.61);

        --margin-right: 3rem;
        --margin-left: 5rem;
}

body {
        background-color: white;
}


header {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
}

nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
}

nav ul li {
        width: fit-content;
        list-style: none;
        margin-top: 1rem;

}

nav ul li a {
        text-decoration: none;
        color: black;
        font-family: 'Imprima', sans-serif;
        font-style: normal;
        font-size: 1.5rem;

        margin-right: 6rem;
}

nav ul li:first-child{
        margin-right: auto;
        margin-left: var(--margin-left);
}
nav ul li img{             
        align-self: center;
        width: 5rem;
}

.main {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto 0;
}       

.tag-line {
        flex: 2;
        margin-left: var(--margin-left);
        height: fit-content;
}

h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 3rem;
        color: #0B0A0A;
}

h3 {
        font-family: 'Imprima';
        font-weight: 400;
        font-size: 1.5rem;
        color: rgba(11, 10, 10, 0.82);
}

.enquire-btn {
        width: 12rem;
        aspect-ratio: 4/1;
        margin-right: 2rem;
        margin-top: 0.5rem;
        padding: 0.5rem 0;
        
        cursor: pointer;

        background: transparent;
        border: 3px solid #000000;
        border-radius: 40px;

        font-size: 1.5rem;
}

.clipart {
        flex: 3;
        margin-right: var(--margin-right);        
        position: relative;
}
.clipart-img{
        width: 60vw;
}

#big-blob{
        position: absolute;
        width: 30vw;

        top: -10vh;
        left: -12.5vw;
        z-index: -1;
}
#small-blob{
        position: absolute;
        width: 7vw;

        top: 45vh;
        left: -15vw;
        z-index: 100;
}