@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
        margin: 0;
        padding: 0;

        text-decoration: none;
        list-style: none;
        box-shadow: none;
        border: none;
}

:root {
        --yellow: rgba(253, 190, 70, 1);
        --light-yellow: rgba(254, 206, 115, 1);
        --grey: rgba(56, 56, 54, 1);


        --margin: 10rem;
}

/* ----------------------------- common ----------------------------- */
.grey {
        color: var(--grey);
}

.sub-heading {
        font-family: 'Outfit';
        font-weight: 400;
        font-size: 25px;
        line-height: 1.15em;
}

.container {
        margin: 0 var(--margin);
        display: flex;
}

.heading-2 {
        position: relative;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;

        color: #1F1D1D;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 40px;
        line-height: 1.15em;
        display: flex;
        align-items: center;
        text-transform: capitalize;
}

.heading-2::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 12%;
        content: "";
        background-color: #FECE73;
        border: 2px solid #FECE73;
}

.content-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
}

.content {
        font-size: 1.25rem;
        line-height: 1.15em;
        text-align: justify;
}

/* ----------------------------- body ----------------------------- */
body {
        background-color: white;
        color: #000;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

/* ----------------------------- logo and nav bar ----------------------------- */
header {
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
}

.logo img {
        width: 3rem;
}

nav {
        display: flex;
        padding: 2rem 0;
        align-items: center;
        justify-content: space-between;
}

nav ul {
        display: flex;
        align-items: center;
        gap: var(--gap, 7rem);

}

.nav-btn {
        color: #000;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.1em;
}

/* ----------------------------- hero ----------------------------- */
.hero {
        display: flex;
        align-content: space-around;
        padding-bottom: 7rem;
}

.tag-line {
        position: relative;
        padding-top: 7rem;
}

#small-blob {
        position: absolute;
        z-index: -1;
        left: -5rem;
        top: -4rem;
}

.heading {
        position: relative;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;

        font-family: 'Inter';
        font-weight: 800;
        font-size: 3.75rem;
        line-height: 1.15em;
}

.heading::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 32%;
        content: "";
        background-color: #FECE73;
        border: 2px solid #FECE73;
}

.enquire-btn {
        width: fit-content;
        margin-top: 2rem;
        background: #818B86;
        border-radius: 2rem;

        color: white;
        font-size: 18px;
        padding: 1rem 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
}

.clipart {
        position: relative;
        display: flex;
}

#clipart-img {
        width: 40rem;
        height: fit-content;
        /* aspect-ratio: 1.6; */
        border-radius: 1rem;
}

#big-blob {
        position: absolute;
        z-index: -1;
        width: 25rem;
        height: auto;
        top: -5rem;
        left: -10rem;
}

/* ----------------------------- about us ----------------------------- */
.about {
        align-items: center;
        justify-content: center;
}

/* .about .heading-2 */

.about .content-container {
        width: 40%;
}

.learn-more {
        display: flex;
        gap: 0.5em;
        align-items: baseline;
}

.learn-more a {
        font-weight: 500;
        color: var(--yellow);
}

/* ----------------------------- products ----------------------------- */
.products {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.products .heading-2 {
        margin-bottom: 4rem;
}

.products .heading-2::after {
        width: 30%;
        left: 30%;
}

.products-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 5rem 0;
        position: relative;
        overflow: hidden;

        background-image: url('assets/images/product-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}

.products-content .content-container,
.products-content .corousel-container {
        display: flex;
        flex-direction: column;
}

.products-content .content-container {
        width: 35%;
        color: white;
        margin-left: var(--margin);
        margin-right: 2rem;
        gap: 1.5rem;
}


.products-content .content-container h3 {
        font-size: 3rem;
        font-weight: 800;
}

.products-content .content-container h4 {
        font-size: 1.75rem;
        font-weight: 600;
}

.products-content .content-container .content {
        font-weight: 400;
        line-height: 150%;
}

.button-container {
        display: flex;
        justify-content: space-between;
}

.products-content .button-container .get-quote,
.products-content .button-container .learn-more {
        background: #0B0A0A;
        border-radius: 1.3rem;
        padding: 0.8rem 3.5rem;

        color: white;
        font-size: 1.25rem;
        line-height: 115%;
        display: flex;
        align-items: center;
        text-align: center;

        font-weight: 200;
        cursor: pointer;
}

.products-content .button-container .learn-more {
        color: black;
        font-weight: 400;
        border-radius: 0.5rem;
        background: rgba(255, 255, 255, 0.2);
        border: 3px solid black;
}


.products-content .corousel-container {
        margin: 0 var(--margin);
        position: relative;
}

.products-content .corousel-container .prev,
.products-content .corousel-container .next {
        position: absolute;
        top: 50%;
        width: 3.75rem;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        background: #FFFFFF;
        backdrop-filter: blur(2px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 3.125rem;
        font-size: 3rem;

        cursor: pointer;
}

.products-content .corousel-container .prev {
        box-shadow: 0.5rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
        left: -1.875rem;
}

.products-content .corousel-container .next {
        box-shadow: -0.5rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
        right: -1.875rem;
}

.current-card {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;

        background-color: white;
        box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(2px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 1.25rem;
        overflow-x: hidden;
        object-fit: cover;
}


.next-card {
        position: absolute;
        right: -10rem;
        overflow: hidden;

        background: #FFFFFF;
        box-shadow: 0 0.75rem 0.25rem rgba(0, 0, 0, 0.25);
        filter: blur(2px);
        border-radius: 1.25rem;
}

.next-card img {
        height: 25rem;
}